name: Build and push images to Quay.io registry
on:
  push:
    branches:
      - master
  schedule:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    # Schedule build to 1:00 each Tuesday
    - cron: '0 1 * * 2'
jobs:
  build-and-push:
    name: Build and push s2i containers
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: "Dockerfile"
            registry_namespace: "centos7"
            tag: "centos7"
            quayio_username: "QUAY_IMAGE_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_BUILDER_TOKEN"
            suffix: "centos7"
          - dockerfile: "Dockerfile.c9s"
            registry_namespace: "sclorg"
            tag: "c9s"
            quayio_username: "QUAY_IMAGE_SCLORG_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_SCLORG_BUILDER_TOKEN"
            suffix: "c9s"
          - dockerfile: "Dockerfile.c8s"
            registry_namespace: "sclorg"
            tag: "c8s"
            quayio_username: "QUAY_IMAGE_SCLORG_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_SCLORG_BUILDER_TOKEN"
            suffix: "c8s"
          - dockerfile: "Dockerfile.fedora"
            registry_namespace: "fedora"
            tag: "36"
            quayio_username: "QUAY_IMAGE_FEDORA_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_FEDORA_BUILDER_TOKEN"

    steps:
      - name: Build and push s2i-core to quay.io registry
        uses: sclorg/build-and-push-action@v2
        with:
          registry: "quay.io"
          registry_namespace: ${{ matrix.registry_namespace }}
          registry_username: ${{ secrets[matrix.quayio_username] }}
          registry_token: ${{ secrets[matrix.quayio_token] }}
          dockerfile: ${{ matrix.dockerfile }}
          dockerfile_path: "core"
          suffix: ${{ matrix.suffix }}
          tag: ${{ matrix.tag }}

      - name: Build and push s2i-base to quay.io registry
        uses: sclorg/build-and-push-action@v2
        with:
          registry: "quay.io"
          registry_namespace: ${{ matrix.registry_namespace }}
          registry_username: ${{ secrets[matrix.quayio_username] }}
          registry_token: ${{ secrets[matrix.quayio_token] }}
          dockerfile: ${{ matrix.dockerfile }}
          dockerfile_path: "base"
          suffix: ${{ matrix.suffix }}
          tag: ${{ matrix.tag }}
