name: Build and push images to Quay.io registry
on:
  push:
    branches:
      - master
  schedule:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    # Schedule build to 1:00 each Tuesday
    - cron: '0 1 * * 2'
jobs:
  build-and-push:
    # To not run in forks
    if: github.repository_owner == 'sclorg'
    name: Build and push s2i containers
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: "Dockerfile.c10s"
            registry_namespace: "sclorg"
            tag: "c10s"
            quayio_username: "QUAY_IMAGE_SCLORG_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_SCLORG_BUILDER_TOKEN"
            suffix: "-c10s"
            use_default_tags: 'true'
            arch: "amd64, ppc64le, s390x, arm64"

          - dockerfile: "Dockerfile.c9s"
            registry_namespace: "sclorg"
            tag: "c9s"
            quayio_username: "QUAY_IMAGE_SCLORG_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_SCLORG_BUILDER_TOKEN"
            suffix: "-c9s"
            use_default_tags: 'true'
            arch: "amd64, ppc64le, s390x, arm64"

          - dockerfile: "Dockerfile.f39"
            registry_namespace: "fedora"
            tag: "39"
            quayio_username: "QUAY_IMAGE_FEDORA_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_FEDORA_BUILDER_TOKEN"
            use_default_tags: 'false'
            arch: "amd64, ppc64le, s390x, arm64"

          - dockerfile: "Dockerfile.f40"
            registry_namespace: "fedora"
            tag: "40"
            quayio_username: "QUAY_IMAGE_FEDORA_BUILDER_USERNAME"
            quayio_token: "QUAY_IMAGE_FEDORA_BUILDER_TOKEN"
            use_default_tags: 'false'
            arch: "amd64, ppc64le, s390x, arm64"

    steps:
      - name: Build and push s2i-core to quay.io registry
        uses: sclorg/build-and-push-action@v4
        with:
          registry: "quay.io"
          registry_namespace: ${{ matrix.registry_namespace }}
          registry_username: ${{ secrets[matrix.quayio_username] }}
          registry_token: ${{ secrets[matrix.quayio_token] }}
          dockerfile: "core/${{ matrix.dockerfile }}"
          image_name: "s2i-core${{ matrix.suffix }}"
          tag: ${{ matrix.tag }}
          archs: ${{ matrix.arch }}
          readme: "core/README.md"
          quay_application_token: ${{ secrets.QUAY_IMAGE_SCLORG_UPDATE_DESC }}


      - name: Build and push s2i-base to quay.io registry
        uses: sclorg/build-and-push-action@v4
        with:
          registry: "quay.io"
          registry_namespace: ${{ matrix.registry_namespace }}
          registry_username: ${{ secrets[matrix.quayio_username] }}
          registry_token: ${{ secrets[matrix.quayio_token] }}
          dockerfile: "base/${{ matrix.dockerfile }}"
          image_name: "s2i-base${{ matrix.suffix }}"
          tag: ${{ matrix.tag }}
          use_default_tags: ${{ matrix.use_default_tags }}
          archs: ${{ matrix.arch }}
          readme: "base/README.md"
          quay_application_token: ${{ secrets.QUAY_IMAGE_SCLORG_UPDATE_DESC }}
